<div class="card-container">
    <div class="card-header-wrapper">
        <h3 class="card-title"> {{ customMsgService.translate('mantenimientoPlantilla')}} </h3>
    </div>
    <div class="card-component">

        <form class="k-form" [formGroup]="Form">
            <fieldset class="k-form-fieldset">

            <kendo-formfield>
                <kendo-label [for]="txtNombre" text="{{ customMsgService.translate('plantilla')}}"></kendo-label>
                <kendo-textbox
                    formControlName="txtNombre"
                    #txtNombre
                    required
                ></kendo-textbox>

                <kendo-formerror>Error: {{ customMsgService.translate('errorNombre')}}</kendo-formerror>
            </kendo-formfield>
            
            
            <kendo-formfield>
                <kendo-label [for]="txtDescripcion" text="{{ customMsgService.translate('descripcion')}}"></kendo-label>
                <kendo-textbox
                formControlName="txtDescripcion"
                #txtDescripcion
                required
            ></kendo-textbox>

                <kendo-formerror>Error: {{ customMsgService.translate('errorDescripcion')}}</kendo-formerror>
            </kendo-formfield>

                <div class="k-form-buttons">
                    <button kendoButton themeColor="secondary">{{ customMsgService.translate('cancelar')}}</button>  &nbsp;&nbsp;
                    <button kendoButton themeColor="primary" (click)="onguardarNuevo()">{{ customMsgService.translate('guardar')}}</button>


                </div>
            </fieldset>
        </form>

    </div>
</div>
