<div class="min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-7">
          <div class="container display: flex; flex-flow: row wrap;">
            <div class="card" style="--bs-card-spacer-y: 0rem; --bs-card-spacer-x: 0; --bs-card-title-spacer-y: 0rem;">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12" style="padding: 15px; text-align: center;">
                    <div *ngIf="showError" class="alert alert-danger" role="alert">
                        {{errorMessage}}
                    </div>
                    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                        {{successMessage}}
                    </div>
                    <form  [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
                        <fieldset class="k-form-fieldset">
                            <h4>Recuperar Contraseña</h4>

                            <kendo-formfield>
                                <kendo-label [for]="email" text="Nombre de usuario / E-mail"></kendo-label>
                                <kendo-textbox
                                  formControlName="email"
                                  [clearButton]="true"
                                  #email
                                  required
                                ></kendo-textbox>
                                <kendo-formerror>Error: Nombre de usuario es obligatorio</kendo-formerror>
                              </kendo-formfield>

                            <div class="k-form-buttons" style="text-align: center; width: 100%;">
                                <button kendoButton themeColor="primary" type="submit">
                                  Restablecer Contraseña
                                </button>
                            </div>

                        </fieldset>
                    </form>
                </div>
                
            </div>
          </div>  
          
        </div>
      </div>
    </div>
  </div>
