<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Inmuebles</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
          <tr>
            <th>Nombre</th>
            <th class="text-center">Precio</th>
            <th>direccion</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">

            </td>
            <td>

            </td>
            <td class="text-center">

            </td>
           </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
