<div class="card-container">
    <div class="card-header-wrapper col-lg-12">
        <h3 class="card-title col-md-10"> {{ customMsgService.translate('mantenimientoNivelPermiso') }} </h3>
        <div class="card-buttons col-md-2 right">
            <kendo-buttongroup selection="single">
                <button
                    kendoButton
                    [toggleable]="true"
                    [selected]="true"
                    (click)="OnNuevo()"
                >
                    {{ customMsgService.translate('MantNuevo') }}
                </button>
            </kendo-buttongroup>
        </div>  
        <span></span>
    </div>


    <div class="card-component">
        <kendo-grid [data]="loadData() | async"
        kendoGridSelectBy="wkf04llave"
        [loading]="(loading$ | async)!"
        [(selectedKeys)]="mySelection"
        [pageable]="true"
        [sortable]="true"
        [pageSize]="5"
        [reorderable]="true"
        [resizable]="true"
        [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
        >
        <ng-template kendoGridToolbarTemplate>
            <kendo-textbox
                [placeholder]="customMsgService.translate('gridSearch')"
                kendoTextBox
                (valueChange)="onFilter($event)"
                class="col-md-12"
            >
            </kendo-textbox>
            <kendo-grid-spacer></kendo-grid-spacer>
            <button kendoButton kendoGridExcelCommand type="button" icon="file-excel">
                {{ customMsgService.translate('MantExpExcel') }}
            </button>
            <button kendoButton kendoGridPDFCommand icon="file-pdf">{{ customMsgService.translate('MantExpPDF') }}</button>
        </ng-template>


            <kendo-grid-command-column title="" [width]="110">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    
                  <button
                    kendoButton
                    iconClass="fa-solid fa-trash-can"
                    title="{{ customMsgService.translate('Delete') }}"
                    (click)="OnEliminar(dataItem.wkf04llave)"
                  ></button>
                </ng-template>
              </kendo-grid-command-column>
              
              <kendo-grid-column field="wkf03nombre" title="{{ customMsgService.translate('nivelflujo') }}"> </kendo-grid-column>
            <kendo-grid-column field="wkf05nombre" title="{{ customMsgService.translate('tipopermiso') }}"> </kendo-grid-column>
            <kendo-grid-excel
                fileName="data.xlsx">
                <kendo-excelexport-column field="wkf03nombre" title="{{ customMsgService.translate('nivelflujo') }}"></kendo-excelexport-column>
                <kendo-excelexport-column field="wkf05nombre" title="{{ customMsgService.translate('tipopermiso') }}"></kendo-excelexport-column>
                
            </kendo-grid-excel>
            <kendo-grid-pdf
                fileName="data.pdf"
                paperSize="A4"
                [scale]="0.8"
                [repeatHeaders]="true"
                [margin]="{ top: '1cm', left: '1cm', right: '1cm', bottom: '1cm' }"
            >
                <kendo-excelexport-column field="wkf03nombre" title="{{ customMsgService.translate('nivelflujo') }}"></kendo-excelexport-column>
                <kendo-excelexport-column field="wkf05nombre" title="{{ customMsgService.translate('tipopermiso') }}"></kendo-excelexport-column>
                
            </kendo-grid-pdf>
        </kendo-grid>
    </div>

</div>
