<div class="card-container">
    <div class="card-header-wrapper col-lg-12">
        <h3 class="card-title col-md-10"> {{ customMsgService.translate('mantenimientoUsuarios') }} </h3>
        <div class="card-buttons col-md-2 right">
            <kendo-buttongroup selection="single">
                <button
                    kendoButton
                    [toggleable]="true"
                    [selected]="true"
                    (click)="OnNuevo()"
                >
                    {{ customMsgService.translate('MantNuevo') }}
                </button>
            </kendo-buttongroup>
        </div>  
        <span></span>
    </div>


    <div class="card-component">
        <kendo-grid [data]="loadData() | async"
        
        kendoGridSelectBy="per03llave"
        [(selectedKeys)]="mySelection"
       
        [pageable]="true"
        [sortable]="true"
        [pageSize]="20"
        [reorderable]="true"
        [resizable]="true"
        [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
        >
        <ng-template kendoGridToolbarTemplate>
            <kendo-textbox
                [placeholder]="customMsgService.translate('gridSearch')"
                kendoTextBox
                (valueChange)="onFilter($event)"
                class="col-md-12"
            >
            </kendo-textbox>
            <kendo-grid-spacer></kendo-grid-spacer>
            <button type="button" icon="k-i-check k-i-checkmark" kendoButton (click)="onactivateRegion()">{{ customMsgService.translate('MantActivar') }}</button>
            <button type="button" icon="k-i-close k-i-x" kendoButton (click)="OndisableRegion()">{{ customMsgService.translate('MantDesactivar') }}</button>
           
            
        </ng-template>


            <kendo-grid-checkbox-column
                [width]="45"
                [headerClass]="{ 'text-center': true }"
                [class]="{ 'text-center': true }"
                [resizable]="false"
                [columnMenu]="false"
                [showSelectAll]="true">
            </kendo-grid-checkbox-column>
            <kendo-grid-command-column title="" [width]="110">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <button
                    kendoButton
                    iconClass="fa fa-pencil"
                    title="{{ customMsgService.translate('Edit') }}"
                    
                    (click)="OnEditar(dataItem.userid)"
                  ></button>
                  <button
                    kendoButton
                    iconClass="fa-solid fa-trash-can"
                    title="{{ customMsgService.translate('Delete') }}"
                    (click)="OnEliminar(dataItem.userid)"
                  ></button>
                </ng-template>
              </kendo-grid-command-column>
              <kendo-grid-column field="rolename" title="{{ customMsgService.translate('Rol') }}"> </kendo-grid-column>
            <kendo-grid-column field="username" title="{{ customMsgService.translate('Username') }}"> </kendo-grid-column>
            <kendo-grid-column field="per01nombre" title="{{ customMsgService.translate('Usuario') }}"> </kendo-grid-column>
            <kendo-grid-column field="plantillanombre" title="{{ customMsgService.translate('Plantilla') }}"> </kendo-grid-column>
            <kendo-grid-column field="emailconfirmed" title="{{ customMsgService.translate('confirmado') }}" [width]="150">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem" >
                    {{OnConfirmado(dataItem.emailconfirmed)}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column title="{{ customMsgService.translate('sendconfirmation') }}" [width]="180">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <button
                    kendoButton
                    (click)="OnSendConfirmation(dataItem.userid)"
                  >
                 Enviar E-Mail</button>
                </ng-template>
              </kendo-grid-command-column>
                
                
        </kendo-grid>
    </div>

</div>
