<div id="datosgenerales" *ngIf="selectedItem === 'datosgenerales'">
    <app-monitor-datosgenerales></app-monitor-datosgenerales>
</div>
<div id="datoscomunicacion" *ngIf="selectedItem === 'datoscomunicacion'">
    <app-monitor-comunicacion></app-monitor-comunicacion>
</div>
<div id="datosacceso" *ngIf="selectedItem === 'datosacceso'">
    <app-monitor-acceso></app-monitor-acceso>
</div>
<div id="especiesasignadas" *ngIf="selectedItem === 'especiesasignadas'">
    <app-monitor-especies></app-monitor-especies>
</div>
<div id="trampasasignadas" *ngIf="selectedItem === 'trampasasignadas'">
    <app-monitor-trampas></app-monitor-trampas>
</div>
<div id="datoscelulares" *ngIf="selectedItem === 'datoscelulares'">
    <app-monitor-celulares></app-monitor-celulares>
</div>

