<div id="datosgenerales" *ngIf="selectedItem === 'datosgenerales'">
    <app-workflow-datosgenerales></app-workflow-datosgenerales>
</div>
<div id="datosgenerales" *ngIf="selectedItem === 'nodopadre'">
    <app-workflow-nodopadre></app-workflow-nodopadre>
</div>
<div id="datosgenerales" *ngIf="selectedItem === 'configuracionweb'">
    <app-workflow-configuracionweb></app-workflow-configuracionweb>
</div>
<div id="datosgenerales" *ngIf="selectedItem === 'parametros'">
    <app-workflow-parametros></app-workflow-parametros>
</div>
<div id="datosgenerales" *ngIf="selectedItem === 'perfil'">
    <app-workflow-perfil></app-workflow-perfil>
</div>

