<app-spinner *ngIf="loading$ | async"></app-spinner>

<c-card class="mb-4">
  <c-card-body>
    <h5 cCardTitle>Actualización de Tipo Comunicación Persona</h5>
    <c-row>
      <c-col>


        <form cForm
                      [formGroup]="tipocompersonaForm"
                      (submit)="onguardarNuevo()">



         <div class="form-group mb-3">
            <label cLabel for="txtnombre">Tipo Comunicación</label>
            <input cFormControl
                      id="txtnombre"
                      formControlName="nombre"
                      placeholder="Nombre Tipo Comunicación Persona"
                      type="text"
                      class="form-control"

                />
          </div>
          <div class="mb-3">
            <label cLabel for="txtdescripcion">Descripción</label>
            <textarea cFormControl
                      id="txtdescripcion"
                      formControlName="descripcion"
                      rows="3"
                      class="form-control"

                      ></textarea>
          </div>
          <div class="mb-3">
            <button cButton color="secondary" [routerLink]="['/dashboard/tipocomunicacionpersona/list']">Cancelar</button>  &nbsp;&nbsp;
            <button cButton color="primary" type="submit" [disabled]="tipocompersonaForm.invalid">+ Guardar</button>


          </div>
          </form>

      </c-col>
    </c-row>


  </c-card-body>
</c-card>
<app-tipopercomunicacion-list></app-tipopercomunicacion-list>
