<div class="min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-7">
                <div class="container display: flex; flex-flow: row wrap;">
                    <div class="card" style="--bs-card-spacer-y: 0rem; --bs-card-spacer-x: 0; --bs-card-title-spacer-y: 0rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12" style="padding: 15px; text-align: center;">
                                    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                                        Tu pasword ha sido restablecido. Por favor <a [routerLink]="['/join/login']"> pincha sobre el siguiente link. </a>
                                    </div>
                                    <form [formGroup]="resetPasswordForm" autocomplete="off" (ngSubmit)="resetPassword(resetPasswordForm.value)">
                                        <fieldset class="k-form-fieldset">
                                            <h4>Restaurar Contraseña</h4>

                                            <kendo-formfield>
                                                <kendo-label [for]="password" text="Password"></kendo-label>
                                                <kendo-textbox
                                                formControlName="password"
                                                required
                                                #password
                                                [clearButton]="true"
                                                >
                                            </kendo-textbox>
                                
                                                <kendo-formerror *ngIf="resetPasswordForm.controls['password'].errors?.['strong']">
                                                    Debe ingresar al menos una letra mayuscula, una letra minuscula y al menos un numero.</kendo-formerror>
                                
                                                <kendo-formerror *ngIf="resetPasswordForm.controls['password'].errors?.['required']">Error: El password es de ingreso obligatorio</kendo-formerror>
                                                <kendo-formerror *ngIf="resetPasswordForm.controls['password'].errors?.['minLength']">Error: Debe tener minimo 6 caracteres</kendo-formerror>
                                
                                                <kendo-formerror>Error:</kendo-formerror>
                                                    
                                            </kendo-formfield>
                                
                                            
                                            <kendo-formfield>
                                                <kendo-label [for]="confirm" text="Confirmar password"></kendo-label>
                                                <kendo-textbox
                                                formControlName="confirm"
                                                #confirm
                                                required
                                                ></kendo-textbox>
                                                            <kendo-formerror>Error: Confirmar Password es obligatorio</kendo-formerror>
                                            </kendo-formfield>
                                            <div class="k-form-buttons">
                                                <button kendoButton themeColor="primary" type="submit">Restablecer Contraseña</button>
                            
                                            </div>
                
                                        </fieldset>
                                    </form>
                                </div>
        
                            </div>
                        </div>  
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
