<app-spinner *ngIf="loading$ | async"></app-spinner>

<c-card class="mb-4">
  <c-card-body>
    <h5 cCardTitle>Editar Saludo</h5>
    <c-row>
      <c-col>


        <form cForm
                      [formGroup]="saludoForm"
                      (submit)="onguardarNuevo()">



         <div class="form-group mb-3">
            <label cLabel for="txtnombre">Titulo</label>
            <input cFormControl
                      id="txttitulo"
                      formControlName="titulo"
                      placeholder="Titulo"
                      type="text"
                      class="form-control"

                />
          </div>
          <div class="mb-3">
            <label cLabel for="txtorden">Orden del saludo en el listado</label>
            <input cFormControl
                      id="txtorden"
                      class="form-control"
                      type="text"
                      formControlName="orden"
                      />
          </div>
          <div class="mb-3">
            <button cButton color="secondary" [routerLink]="['/dashboard/saludos/list']">Cancelar</button>  &nbsp;&nbsp;
            <button cButton color="primary" type="submit" [disabled]="saludoForm.invalid">+ Guardar</button>


          </div>
          </form>

      </c-col>
    </c-row>

  </c-card-body>
</c-card>
