<div id="datosgenerales" *ngIf="selectedItem === 'datosgenerales'">
    <app-clienteestacion-datosgenerales></app-clienteestacion-datosgenerales>
</div>
<div id="datosgenerales" *ngIf="selectedItem === 'datoscomunicacion'">
    <app-clienteestacion-comunicacion></app-clienteestacion-comunicacion>
</div>
<div id="datosgenerales" *ngIf="selectedItem === 'datoscontacto'">
    <app-clienteestacion-contacto></app-clienteestacion-contacto>
</div>
<div id="datosgenerales" *ngIf="selectedItem === 'estaciones'">
    <app-clienteestacion-estaciones></app-clienteestacion-estaciones>
</div>
