<div id="datosgenerales" *ngIf="selectedItem === 'datosgenerales'">
    <app-especie-datosgenerales></app-especie-datosgenerales>
</div>
<div id="unirespecies" *ngIf="selectedItem === 'unirespecies'">
    <app-especie-unirespecie></app-especie-unirespecie>
</div>
<div id="tiposdatos" *ngIf="selectedItem === 'tiposdatos'">
    <app-tipodatos></app-tipodatos>
</div>
<div id="umbrales" *ngIf="selectedItem === 'umbrales'">
    <app-umbrales></app-umbrales>
</div>
<div id="reglasgrafico" *ngIf="selectedItem === 'reglasgrafico'">
    <app-reglasgrafico></app-reglasgrafico>
</div>